@import '../../variables.scss';

.menu-food-category-container {
    width: 100%;
    margin: 15px 0;
    padding: 15px 10px 10px;
    background-color: white;
    max-width: 1620px;

    box-shadow: $bottom-shadow;

    .menu-food-category-inner-container {
        padding: 0 5px 10px;
        border: 2px solid $footer-card-background;
        border-radius: 10px;
        max-width: $max-width;
        margin: auto;

        .menu-food-items-header {
            text-align: center;
            margin-bottom: -5px;
            position: relative;
            top: -15px;

            h4 {
                display: inline-block;
                background-color: white;
                padding: 0 15px;
                font-size: 26px;
                font-weight: 700;
                text-transform: uppercase;
                font-family: thaiFont, Arial, Helvetica, sans-serif;
            }
        }

        .menu-food-items-container {
            display: none;

        }

        .menu-open-button { 
            text-align: center;

            i {
                transform: rotate(-45deg);
                transition: rotate 0.5s;
                font-size: 25px;
            }  
        }
    }

    &.menu-open {
        .menu-food-category-inner-container {
            height: auto;

            .menu-food-items-header {
                margin-bottom: 15px;
            }

            .menu-food-items-container {
                display: flex;
                flex-flow: row wrap;
            }

            .menu-open-button { 
    
                i {
                    transform: rotate(0);
                }  
            }
        }
    }
}  

@media (min-width: 768px) {
    .menu-food-category-container {
        width: calc(100% - 30px);
        margin: 30px 15px;
        padding: 30px;
    
        .menu-food-category-inner-container {
            height: auto;
            padding: 0 20px 20px;

            .menu-food-items-container {
                display: flex;
                flex-flow: row wrap;
            }

            .menu-food-items-header {
                top: -20px;

                h4 {
                    font-size: 36px;
                    padding: 0 30px;
                }
            }
            

            .menu-open-button {
                display: none;
            }
        }
    }
}

@media (min-width: 1110px) {
    .menu-food-category-container {
        margin: 40px auto;
    }
}