@import '../../variables.scss';

.menu-food-category-container {
    .food-menu-item {
        flex: 0 100%;
        padding: 5px 10px;
    
        .menu-food-item-heading {
            display: flex;
            align-items: baseline;
            margin-top: 24px;
            font-size: 20px;
    
            h6 {
                font-weight: 700;
                text-transform: uppercase;
            }

            ul {

                li {
                    display: inline-block;

                    i {
                        font-size: 16px;
                        color: $footer-card-background;
                    }
                }
            }
                        
            .menu-food-item-title {
                display: inline-block;
            }
    
            .menu-food-item-icons {
                list-style: none;
                padding: 0 10px;
            }
        }
    
        p {
            margin-top: 10px;
            font-weight: 400;
        }
    }
}



@media (min-width: 768px) {
    .menu-food-category-container {
        .food-menu-item {
            flex: 1 50%;
            max-width: 50%;

            &:nth-child(odd) {
                padding-right: 40px;
            }
        }
    }
}