/* COLOURS */
/* FONTS */
/* HEADER */
.menu-food-category-container {
  width: calc(100% - 10px);
  margin: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  max-width: 1620px;
}

.menu-food-category-container .menu-food-category-inner-container {
  padding: 0 5px 10px;
  border: 2px solid #e17f76;
  border-radius: 10px;
  max-width: 1600px;
  margin: auto;
}

.menu-food-category-container .menu-food-category-inner-container .menu-food-items-header {
  text-align: center;
  margin-bottom: -5px;
  position: relative;
  top: -15px;
}

.menu-food-category-container .menu-food-category-inner-container .menu-food-items-header h4 {
  display: inline-block;
  background-color: white;
  padding: 0 15px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: thaiFont, Arial, Helvetica, sans-serif;
}

.menu-food-category-container .menu-food-category-inner-container .menu-food-items-container {
  display: none;
}

.menu-food-category-container .menu-food-category-inner-container .menu-open-button {
  text-align: center;
}

.menu-food-category-container .menu-food-category-inner-container .menu-open-button i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: rotate 0.5s;
  transition: rotate 0.5s;
  font-size: 25px;
}

.menu-food-category-container.menu-open .menu-food-category-inner-container {
  height: auto;
}

.menu-food-category-container.menu-open .menu-food-category-inner-container .menu-food-items-header {
  margin-bottom: 15px;
}

.menu-food-category-container.menu-open .menu-food-category-inner-container .menu-food-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.menu-food-category-container.menu-open .menu-food-category-inner-container .menu-open-button i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

@media (min-width: 768px) {
  .menu-food-category-container {
    width: calc(100% - 30px);
    margin: 30px 15px;
    padding: 20px;
  }
  .menu-food-category-container .menu-food-category-inner-container {
    height: auto;
    padding: 0 20px 20px;
  }
  .menu-food-category-container .menu-food-category-inner-container .menu-food-items-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .menu-food-category-container .menu-food-category-inner-container .menu-food-items-header {
    top: -20px;
  }
  .menu-food-category-container .menu-food-category-inner-container .menu-food-items-header h4 {
    font-size: 36px;
    padding: 0 30px;
  }
  .menu-food-category-container .menu-food-category-inner-container .menu-open-button {
    display: none;
  }
}

@media (min-width: 1600px) {
  .menu-food-category-container {
    margin: 30px auto;
  }
}
/*# sourceMappingURL=foodCategory.css.map */