@import '../../variables.scss';

.menu-download-container {
    a {
        display: block;
        margin: 20px auto;
        padding: 10px;
        background-color: $footer-card-background;
        border-radius: 10px;
        color: $footer-text-color;
        text-align: center;
        width: 90%;
        max-width: $max-width;
    }
}

@media (min-width: 805px) {
    .menu-download-container {
        a {
            width: 95%;
            padding: 15px;

            transition: filter 0.8s;

            &:hover {
                filter: brightness(1.2);
            }
        }
    }
}