$max-width: 1600px;


/* COLOURS */
$header-background: rgb(255, 255, 255);
$body-background: rgb(255, 255, 255);

$main-text-color: #32373B;

$nav-hover-color: #e17f76;
$nav-button-color: black;

$footer-text-color: white;
$footer-card-background: #e17f76;


/* FONTS */
$main-font: 'rubik';
$main-second-font: sans-serif;

/* HEADER */
$header-height-mobile: 65px;
$header-height-desktop: 110px;
