.slider-container {
    margin: 60px 0;
}

.slick-slider {
    max-width: 1600px;
    margin: auto;
}

.slide-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    outline: none;
    margin: 5px;

    .slide-hover-overlay {
        background-color: rgba(0, 0, 0, 0);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        border-radius: 10px;
        outline: none;

        transition: opacity 500ms ease-in-out;

        i {
            font-size: 30px;
            opacity: 0;
            color: white;
        }
    }

    &:hover {
        .slide-hover-overlay {
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 1;
            i {
                opacity: 1;
            }
        }
    }
}

@media (min-width: 1110px) {
    .slider-container {
        margin: 80px 0;
    }
}