@import '../../variables.scss';

.map-card {
    background-color: white;
	padding: 20px 30px;
	color: black;
	width: 90%;
	margin: auto;
	margin-bottom: $mobile-margin;
    border-radius: 10px;

    box-shadow: $bottom-shadow;
    
    p {
        margin-bottom: 10px;
    }

    i {
        height: 16px;
        width: auto;
        margin-right: 5px;
        width: 16px;
    }

    a {
        display: inline-block;
        margin-bottom: 10px;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;

        &.address {
            flex-direction: column;
            align-items: flex-start;
        }
        

        a {
            margin: auto;
            margin-left: 0;
        }
    }

    .directions-btn {
        margin-left: 21px;
        background-color: $footer-card-background;
        color: white;
        border-radius: 10px;
        padding: 10px;
    }
}

@media (max-height: 567px) {
    .map-card {
		margin-top: 30px;
	}
}

@media (min-width: 990px) {
    .map-card {
        position: absolute;
		z-index: 100;
		width: auto;
		margin: 2%;
    }
}